@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Manrope:wght@300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
	margin: 0;
	padding: 0;
}

/* html,body
{
	overflow-x: hidden;
} */

h1 {
	text-align: center;
	padding: 1rem;
	color: white;
}

h2 {
	color: white;
	padding: 0.5rem;
	text-align: center;
}

h3 {
	color: white;
	padding: 0.15rem;
	text-align: center;
}

p {
	color: rgb(255, 255, 255, 1);
	padding: 0.5rem;
	text-align: center;
}

.know-more
{
	
	color: rgb(0, 0, 0);
	padding: 0.5rem;
	text-align: center;
	
}

.dark {
	background-color: black;
	color: rgb(255, 255, 255, 1);
}

.heading {
	font-weight: 600;
	color: #fff;
	font-size: 4rem;
	filter: drop-shadow(0 0 0.8rem #34a186);
}

.dropdown-item:hover{
	font-weight: 400;
	transform: translateY(-5px);
	filter: drop-shadow(0 0 0.1rem #34a186);
	color: white;
	background-color: rgb(0, 0, 0, 0);
}

/* home */
.header {
	min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(
			45deg,
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0.75)
		),
		url(images/background.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	/* display: flex; */
}

nav {
	display: flex;
	padding: 2% 6%;
	align-items: center;
	justify-content: space-between;
	/* position:fixed !important; */
}

.logo-image {
	color: white;
}

.nav-links {
	flex: 1;
	text-align: right;
}

nav ul li {
	font-size: 1.3em;
	display: inline-block;
	list-style: none;
	margin: 10px 20px;
	position: relative;
}

.nav-links ul li a {
	text-decoration: none;
	color: white;
	font-weight: 300;
}

.nav-links ul li::after {
	content: "";
	width: 0%;
	height: 2px;
	/* text-decoration: none; */
	background: #00a35a;
	display: block;
	color: black;
	font-weight: bold;
	margin: auto;
	transition: 0.3s;
}

.nav-links ul li:hover::after {
	width: 100%;
}

.text-box {
	color: white;
	text-align: center;
}

.text-box h1 {
	font-size: 80px;
}

.text-box p {
	margin: 10px 0 40px;
	font-size: 25px;
	color: white;
}

.register {
	display: inline-block;
	text-decoration: none;
	color: white;
	border: 1px solid white;
	border-radius: 25px;
	padding: 12px 34px;
	font-size: 20px;
	background: transparent;
	position: relative;
	cursor: pointer;
}

.register:hover {
	display: inline-block;
	text-decoration: none;
	color: black;
	border: 1px solid white;
	border-radius: 30px;
	padding: 15px 40px;
	font-size: 25px;
	background-color: white;
	position: relative;
	cursor: pointer;
	transition: 0.2s;
}
@media (max-width:1200px){
	.about-text{
		font-size: 1em !important;
		line-height: 1.7em !important;
	}
}
@media (max-width:1050px){
	.image-text-div{
		display: flex;
		flex-direction: column;
	}
	.hacker-image-div{
		width: 100% !important;
		margin: 0 auto !important;
	}
	.about-text-div{
		width: 100% !important;
		margin: 0 auto !important;
		font-size: 1.2em;
	}
	.text-box{
		max-height: 75vh;
	}
	.text-box h1{
		margin-top: 8vh;	
	}
}
@media (max-width:800px){
	.nav-links{
		font-size: 13px;
	}
	.partners-text{
		max-width: 80% !important;
	}
	.nav-links{
		visibility: hidden;
	}
	.dropdown{
		visibility: visible !important;
		position: absolute;
		right: 0;
		background-color: transparent !important;		
	}
	.dropdown-menu.show {
		display: block;
		background-color: rgba(0,0,0,0.8);
	}
	.dropdown-item{
		color: white;
	}
}

@media (max-width:700px){
	.text-box h1 {
		font-size: 75px !important;
	}
	
	
	nav{
		padding-top: 0% !important;
		position:relative;
	}
	.about-container{
		padding:5% !important;
	}
	.heading{
		font-size: 3.5rem;
	}
	
	.partners-text{
		max-width: 90% !important;
	}
	/* .about-text {
		font-size: 1em !important;
		line-height: 2rem;
	} */
}

@media (max-width:800px){
	.nav-links{
		font-size: 13px;
	}
	.partners-text{
		max-width: 80% !important;
	}
}

@media (max-width:955px){
	.nav-links{
		visibility: hidden;
	}
	
	.dropdown{
		visibility: visible !important;
		/* position: absolute; */
		position: static !important;
		right: 0;
		background-color: transparent !important;		
	}
	
	.dropdown-menu.show {
		display: block;
		background-color: rgba(0,0,0,0.8);
	}
	
	.dropdown-item{
		color: white;
		text-align: center;
	}
	
	.dropdown-menu {
		box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important;
		margin-top: 0px !important;
		width: 100% !important;
		max-width: 1366px;
	}
	}
	
	@media (max-width:700px){
		.text-box h1 {
			font-size: 75px !important;
		}
	}
	
	@media (max-width:700px){
		.text-box h1 {
			font-size: 75px !important;
		}
		
		
		nav{
			padding-top: 0% !important;
			position:relative;
		}
		.about-container{
			padding:5% !important;
		}
		.heading{
			font-size: 3.5rem;
		}
		.dropdown-menu.show {
			display: block;
			background-color: rgba(0,0,0,0.8);
		}
		.dropdown-item{
			color: white;
		}
		.partners-text{
			max-width: 90% !important;
		}
		/* .about-text {
			font-size: 1em !important;
			line-height: 2rem;
		} */
	}
/* about */
.about-text {
	font-family: "Inter", sans-serif;
	font-size: 1.2rem;
	line-height: 2rem;
}

#time-line.dark {
	background-color: rgba(0, 0, 0, 0.78);
}

.container-fluid {
	text-align: justify;
	padding: 7rem 8rem;
}

/* timeline */

.timeline {
	position: relative;
	/* max-width: 1200px; */
	margin: 0 auto;

	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
}

.timeline::after {
	content: "";
	position: absolute;
	width: 2px;
	background-color: rgb(74, 153, 117);
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -3px;
}

.container {
	padding: 10px 40px;
	position: relative;
	background-color: inherit;
	width: 40%; 
}

.container::after {
	content: "";
	position: absolute;
	width: 25px;
	height: 25px;
	right: -17px;
	background-color: rgb(0, 0, 0);
	border: 4px solid #1fa8c0;
	top: 15px;
	border-radius: 100%;
	z-index: 1;
}

.left {
	left: -20%;
}

.left::after
{
	right: -9px;
}

.right {
	right: -20%;
}

.right::after {
	left: -16px;
}

#sponsor-head{
	padding: 2% !important;
}
.content {
	padding: 1rem 2rem;
	background-color: rgba(19, 27, 21, 0.9);
	position: relative;
	filter: drop-shadow(0 0 1.5rem rgba(24, 112, 111, 0.5));
	border-radius: 3rem;
}

@media (max-width: 845px) {

	/* body,html{
		margin: 0;
		padding: 0;
		
	} */
	.timeline::after {
		left: 31px;
	}

	.container {
		width: 100%;
		padding-left: 3rem;
		padding-right: 3rem;
	}

	.container::before {
		left: 60px;
		border: medium solid white;
		border-width: 10px 10px 10px 0;
		border-color: transparent white transparent transparent;
	}

	.left::after,
	.right::after {
		left: 15px;
	}

	.right {
		left: 0%;
	}

	.left {
		left: 0%;
	}
	.about-text-div{
		font-size: 1em;
	}
}

/* footer */
.logo-image {
	max-height: 5.5rem;
	width: auto;
	margin: 0.7rem;
	
}

#image{
	border-radius: 50%;
}
.footer-txt {
	text-align: center;
	margin-bottom: 0;
	margin-top: 2px;
	padding: 0 5% 0 5% !important;
}

.footer-link {
	text-decoration: none;
}

.footer-icon {
	height: 3rem;
	width: 3rem;
	fill: rgb(255, 255, 255);
	margin: 0.5rem;
	padding: 0.3rem;
}

.footer-icon-1 {
	height: 2.5rem;
	width: 2.5rem;
	fill: rgb(255, 255, 255);
	margin: 0.5rem;
	padding: 0.3rem;
}

.footer-icon:hover {
	fill: #39ff96;
}

.footer-icon-1:hover {
	fill: #39ff96;
}

/* Events */
.header-events {
	height: 100vh;
	width: 100%;
	/* background-position: center; */
	/* background-size: cover; */
	position: relative;
}


.heading-2 {
	font-weight: 500;
	color: #fff;
	font-size: 2rem;
	filter: drop-shadow(0 0 0.8rem #34a186);
}
.partners-text {
	font-family: "Inter", sans-serif;
	font-size: 1.2rem;
	line-height: 2rem;
	margin: 0 auto;
	max-width: 70%;
	margin-bottom:1%;
}
.time-line-events {
	position: relative;
	max-width: 75vw;
	margin: 0 auto;
}
.time-line-events::after {
	content: "";
	position: absolute;
	width: 6px;
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -3px;
}

@media (max-width: 600px) {
	.about-img
	{
		width: 100%;
		height: 100%;
		object-fit: cover;
		padding-left: 35px;
	}
	nav{
		position: fixed;
	}
	.time-line-events::after {
		left: 31px;
	}
	.header{
		max-height: 100vh;
	}
	.text-box{	
		padding: 10% 0 60% 0;
		max-height: 50vh !important;
	}
	.container {
		width: 100%;
		padding-left: 3rem;
		padding-right: 3rem;
	}

	.container::before {
		left: 60px;
		border: medium solid white;
		border-width: 10px 10px 10px 0;
		border-color: transparent white transparent transparent;
	}

	.left::after,
	.right::after {
		left: 15px;
	}

	.right {
		left: 0%;
	}

	.left {
		left: 0%;
	}
}

.lines{
	display: flex;
	gap: column;
}

.partner-card{
	border: 10px solid transparent;
	border-top: 1px solid #00a35a;
	box-sizing: border-box;
	margin: 1.5rem 0rem;
	padding-top: 1rem;
	/* background-color: rgba(0, 0, 0, 0.1); */
	/* border-radius: 5%; */
}
.partner-card:hover{
	
	border-top: 3px solid #00a35a;
	box-shadow: inset 0px 11px 8px -7px #00a35a;
	/* box-sizing: border-box; */
}

.event-title{
	margin:0;
	font-family: Arial, Helvetica, sans-serif;
	/* color: #B4D4EE;
	filter: drop-shadow(0 0 0.8rem #34a186); */
}

/* .register-1 {
	display: inline-block;
	text-decoration: none;
	color: white;
	border: 1px solid white;
	border-radius: 10px;
	padding: 0 30px;
	font-size: 15px;
	background: transparent;
	position: relative;
	cursor: pointer;
} */

/* .register-1:hover {
	display: inline-block;
	text-decoration: none;
	color: black;
	border: 1px solid white;
	border-radius: 30px;
	padding: 15px 40px;
	font-size: 25px;
	background-color: white;
	position: relative;
	cursor: pointer;
	transition: 0.2s;
} */
.content-1 {
	padding: 20px 30px;
	background-color: black;
	position: relative;
	border-radius: 6px;
	/* filter: drop-shadow(0 0 1.5rem rgba(44, 216, 87, 0.5)); */
}

.text-box-1 {
	/* margin-top: 5px; */
	padding-bottom: 1.5% 0 ;
	margin: auto;
	/* width: 100%; */
	color: white;
	/* position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); */
	text-align: center;
}


.modal-window {
	position: fixed;
	background-color: rgba(88, 84, 84, 0.8);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 999;
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s;
	max-width: 100vw;
	max-height: 100vh;
}
.modal-window:target {
	visibility: visible;
	opacity: 1;
	pointer-events: auto;
}
.modal-window > div {
	width: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 2em;
	/* background: white; */
	background: #ffffff ;
	/* opacity: 20%; */
}

.modal-window header {
	font-weight: bold;
	
}
.modal-window h1 {
	font-size: 150%;
	margin: 0 0 15px;
	color: rgb(0, 0, 0);
}




.modal-close {
	color: rgb(26, 21, 21);
	line-height: 50px;
	font-size: 80%;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 70px;
	text-decoration: none;
}
.modal-close:hover {
	color: black;
}

.modal-window > div {
	border-radius: 1rem;
}

.modal-window div:not(:last-of-type) {
	margin-bottom: 15px;
}

body {
	background-image: linear-gradient(0.33turn, #02121F, #015D58 10% 15%, #02121F, #018C63 90% 93%,#02121F);;
	/* font-family: "Inter", sans-serif;
	/* font-family: "Manrope", sans-serif; */
	font-family: "Poppins", sans-serif;
	background-attachment: fixed;
	
	position: relative;
	
	
}
/* html,body{
	overflow-x: hidden;
} */

.main{
	overflow-x: hidden;
}
/* laptop */
.about-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	padding-left: 35px;
}

.club-img {
	width: 40%;
	height: 40%;
	margin-left: 30%;
	object-fit: cover;
}

/* .club-img-1 {
	width: 30%;
	height: 20%;
	margin-left: 30%;
	object-fit: cover;
} */
#main-head{
	margin: 0;
}
#about-head {
	margin: 0 0 3rem 0;
}

.btn-know{
	border: 1px solid white;
	transition: ease-out 0.3s;
	box-shadow: inset 0 0 0 0 white;
	margin-top: 1.3rem;
}
.btn-know:hover{
	color:black;
	background-color: white;
	border: 1px solid white;
	box-shadow: inset 300px 0 0 0 white
}
.btnn {
	background-color: #39ff96;
	color: black;
	border: none;
	overflow: hidden;
	padding: 1rem 2rem;
	border-radius: 3rem;
	cursor: pointer;
}
.btnn:link,
.btnn:visited {
	text-decoration: none;
	text-transform: uppercase;
	padding: 1.5rem 4rem;
	display: inline-block;
	border-radius: 10rem;
	position: relative;
	animation: slideInUp 1s ease-in-out;
}
.btnn:hover {
	transform: translateY(-3px);
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	transition: all 0.3s ease-in-out;
	filter: drop-shadow(0 0 4rem #39ff96);
	border-radius: 3rem;
}
.btnn:active {
	transform: translateY(-1px);
	box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	filter: drop-shadow(0 0 2rem #39ff96);
	transition: all 0.1s ease-in-out;
	border-radius: 3rem;
}

.text-box h1 {
	font-size: 10rem;
}

.text-box {
	min-height: 90vh;
}
.btnn-link {
	text-decoration: none;
	color: black;
}