*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(45deg,rgba(0,0,0,0.5),rgba(0,0,0, 0.75)), url(images/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.header-events{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(90deg,rgba(0,0,0,0.5),rgba(0,0,0, 0.8)), url(images/background-events.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{   
    display: flex;
    padding: 2% 6%;
    align-items: center;
    justify-content: space-between;
}

.logo-image{
    color: white;
}

.nav-links{
    flex: 1;
    text-align: right;
}

nav ul li{
    font-size: 1.3em;
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    position: relative;
}

.nav-links ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    /* text-decoration: none; */
    background: #00a35a ;
    display: block;
    color: black;
    font-weight: bold;
    margin: auto;
    transition: 0.3s;
    /* padding: 10px;
    border-radius: 10px;
    box-shadow: black; */
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box 
{
    width: 70%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
    font-size: 80px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 25px;
    color: white;
}

.register{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 25px;
    padding: 12px 34px;
    font-size: 20px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.register:hover{
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid white;
    border-radius: 30px;
    padding: 15px 40px;
    font-size: 25px;
    background-color: white;
    position: relative;
    cursor: pointer;
    transition: 0.2s;
}

@media(max-width: 700px)
{
    .text-box h1{
        font-size: 20px;
    } 

    .nav-links ul li{
        display: block;
    }

    .nav-links{
        position: absolute;
        background: black;
        opacity: 0.5;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;

    }
}