@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Manrope:wght@300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

h1 {
	text-align: center;
	padding: 1rem;
	color: white;
}

h2 {
	color: white;
	padding: 0.5rem;
	text-align: center;
}

p {
	color: rgb(255, 255, 255, 1);
	padding: 0.5rem;
	text-align: center;
}

.dark {
	background-color: black;
	color: rgb(255, 255, 255, 1);
}

.heading {
	font-weight: 600;
	color: #fff;
	font-size: 4rem;
	filter: drop-shadow(0 0 0.8rem #99ffe6);
}

/* home */
.header {
	min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(
			45deg,
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0.75)
		),
		url(images/background.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
}

nav {
	display: flex;
	padding: 2% 6%;
	align-items: center;
	justify-content: space-between;
}

.logo-image {
	color: white;
}

.nav-links {
	flex: 1;
	text-align: right;
}

nav ul li {
	font-size: 1.3em;
	display: inline-block;
	list-style: none;
	margin: 10px 20px;
	position: relative;
}

.nav-links ul li a {
	text-decoration: none;
	color: white;
	font-weight: 300;
}

.nav-links ul li::after {
	content: "";
	width: 0%;
	height: 2px;
	/* text-decoration: none; */
	background: #00a35a;
	display: block;
	color: black;
	font-weight: bold;
	margin: auto;
	transition: 0.3s;
}

.nav-links ul li:hover::after {
	width: 100%;
}

.text-box {
	color: white;
	text-align: center;
}

.text-box h1 {
	font-size: 80px;
}

.text-box p {
	margin: 10px 0 40px;
	font-size: 25px;
	color: white;
}

.register {
	display: inline-block;
	text-decoration: none;
	color: white;
	border: 1px solid white;
	border-radius: 25px;
	padding: 12px 34px;
	font-size: 20px;
	background: transparent;
	position: relative;
	cursor: pointer;
}

.register:hover {
	display: inline-block;
	text-decoration: none;
	color: black;
	border: 1px solid white;
	border-radius: 30px;
	padding: 15px 40px;
	font-size: 25px;
	background-color: white;
	position: relative;
	cursor: pointer;
	transition: 0.2s;
}

/* about */
.about-text {
	font-family: "Inter", sans-serif;
	font-size: 1.2rem;
	line-height: 2rem;
}

#time-line.dark {
	background-color: rgba(0, 0, 0, 0.78);
}

.container-fluid {
	text-align: justify;
	padding: 7rem 8rem;
}

.scale-up-center {
	animation: scale-up-center 7s cubic-bezier(0.39, 0.575, 0.565, 1) infinite
		both;
}

@keyframes scale-up-center {
	0% {
		transform: translate(0px, 0px) scale(1);
	}
	20% {
		transform: translate(40px, -50px) scale(1.1);
	}
	50% {
		transform: translate(-30px, 20px) scale(0.9);
	}
	80% {
		transform: translate(45px, -45px) scale(1.4);
	}
	100% {
		transform: translate(0px, 0px) scale(1);
	}
}

.delay-2 {
	animation-delay: 2s;
}

.delay-4 {
	animation-delay: 4s;
}

/* timeline */

.timeline {
	position: relative;
	/* max-width: 1200px; */
	margin: 0 auto;

	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
}

.timeline::after {
	content: "";
	position: absolute;
	width: 3px;
	background-color: rgb(74, 153, 117);
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -3px;
}

.container {
	padding: 10px 40px;
	position: relative;
	background-color: inherit;
	width: 40%;
}

.container::after {
	content: "";
	position: absolute;
	width: 25px;
	height: 25px;
	right: -17px;
	background-color: rgb(0, 0, 0);
	border: 4px solid #1fa8c0;
	top: 15px;
	border-radius: 100%;
	z-index: 1;
}

.left {
	left: -20%;
}

.right {
	right: -20%;
}

.right::after {
	left: -16px;
}

.content {
	padding: 1rem 2rem;
	background-color: rgba(19, 27, 21, 0.9);
	position: relative;
	filter: drop-shadow(0 0 1.5rem rgba(150, 150, 150, 0.5));
	border-radius: 3rem;
}

@media screen and (max-width: 600px) {
	.timeline::after {
		left: 31px;
	}

	.container {
		width: 100%;
		padding-left: 3rem;
		padding-right: 3rem;
	}

	.container::before {
		left: 60px;
		border: medium solid white;
		border-width: 10px 10px 10px 0;
		border-color: transparent white transparent transparent;
	}

	.left::after,
	.right::after {
		left: 15px;
	}

	.right {
		left: 0%;
	}

	.left {
		left: 0%;
	}
}

/* footer */
.logo-image {
	max-height: 5.5rem;
	width: auto;
	margin: 0.7rem;
}

.footer-txt {
	text-align: center;
}

.footer-link {
	text-decoration: none;
}
.footer-icon {
	height: 3rem;
	width: 3rem;
	fill: rgb(255, 255, 255);
	margin: 0.5rem;
	padding: 0.3rem;
}

.footer-icon:hover {
	fill: #39ff96;
}

/* Events */
.header-events {
	height: 100vh;
	width: 100%;

	background-position: center;
	background-size: cover;
	position: relative;
}
.time-line-events {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
}
.time-line-events::after {
	content: "";
	position: absolute;
	width: 6px;
	/* background-color: rgb(154, 146, 146); */
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -3px;
}

.register-1 {
	display: inline-block;
	text-decoration: none;
	color: white;
	border: 1px solid white;
	border-radius: 10px;
	padding: 9px 30px;
	font-size: 15px;
	background: transparent;
	position: relative;
	cursor: pointer;
}

.register-1:hover {
	display: inline-block;
	text-decoration: none;
	color: black;
	border: 1px solid white;
	border-radius: 30px;
	padding: 15px 40px;
	font-size: 25px;
	background-color: white;
	position: relative;
	cursor: pointer;
	transition: 0.2s;
}
.content-1 {
	padding: 20px 30px;
	background-color: black;
	position: relative;
	border-radius: 6px;
}

.text-box-1 {
	margin-top: 50px;
	width: 100%;
	color: white;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.modal-window {
	position: fixed;
	background-color: rgba(255, 255, 255, 0.25);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 999;
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s;
}
.modal-window:target {
	visibility: visible;
	opacity: 1;
	pointer-events: auto;
}
.modal-window > div {
	width: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 2em;
	background: white;
}
.modal-window header {
	font-weight: bold;
}
.modal-window h1 {
	font-size: 150%;
	margin: 0 0 15px;
	color: black;
}

.modal-close {
	color: #aaa;
	line-height: 50px;
	font-size: 80%;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 70px;
	text-decoration: none;
}
.modal-close:hover {
	color: black;
}

.modal-window > div {
	border-radius: 1rem;
}

.modal-window div:not(:last-of-type) {
	margin-bottom: 15px;
}

body {
	background-image: linear-gradient(to right, #434343 0%, black 100%);
	/* font-family: "Inter", sans-serif;
	/* font-family: "Manrope", sans-serif; */
	font-family: "Poppins", sans-serif;
}
/* laptop */
.about-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
#about-head {
	margin-bottom: 3rem;
}
.btnn {
	background-color: #39ff96;
	color: black;
	border: none;
	overflow: hidden;
	padding: 1rem 2rem;
	border-radius: 3rem;
	cursor: pointer;
}
.btnn:link,
.btnn:visited {
	text-decoration: none;
	text-transform: uppercase;
	padding: 1.5rem 4rem;
	display: inline-block;
	border-radius: 10rem;
	position: relative;
	animation: slideInUp 1s ease-in-out;
}
.btnn:hover {
	transform: translateY(-3px);
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	transition: all 0.3s ease-in-out;
	filter: drop-shadow(0 0 4rem #39ff96);
	border-radius: 3rem;
}
.btnn:active {
	transform: translateY(-1px);
	box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	filter: drop-shadow(0 0 2rem #39ff96);
	transition: all 0.1s ease-in-out;
	border-radius: 3rem;
}

.text-box h1 {
	font-size: 10rem;
}

.text-box {
	min-height: 90vh;
}
.btnn-link {
	text-decoration: none;
	color: black;
}
