* {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-family: sans-serif;
}

h1 {
	text-align: center;
	padding: 1rem;
	color: white;
}

h2 {
	color: white;
	padding: 0.5rem;
	text-align: center;
}

p {
	color: rgb(255, 255, 255, 1);
	padding: 0.5rem;
	text-align: center;
}

.dark {
	background-color: black;
	color: rgb(255, 255, 255, 1);
}

.heading {
	font-weight: 700;
	background: -webkit-linear-gradient(rgb(0, 140, 255), rgb(38, 255, 0));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* home */
.header {
	min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(
			45deg,
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0.75)
		),
		url(images/background.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
}

nav {
	display: flex;
	padding: 2% 6%;
	align-items: center;
	justify-content: space-between;
}

.logo-image {
	color: white;
}

.nav-links {
	flex: 1;
	text-align: right;
}

nav ul li {
	font-size: 1.3em;
	display: inline-block;
	list-style: none;
	margin: 10px 20px;
	position: relative;
}

.nav-links ul li a {
	text-decoration: none;
	color: white;
	font-weight: bold;
}

.nav-links ul li::after {
	content: "";
	width: 0%;
	height: 2px;
	/* text-decoration: none; */
	background: #00a35a;
	display: block;
	color: black;
	font-weight: bold;
	margin: auto;
	transition: 0.3s;
}

.nav-links ul li:hover::after {
	width: 100%;
}

.text-box {
	width: 70%;
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.text-box h1 {
	font-size: 80px;
}

.text-box p {
	margin: 10px 0 40px;
	font-size: 25px;
	color: white;
}

.register {
	display: inline-block;
	text-decoration: none;
	color: white;
	border: 1px solid white;
	border-radius: 25px;
	padding: 12px 34px;
	font-size: 20px;
	background: transparent;
	position: relative;
	cursor: pointer;
}

.register:hover {
	display: inline-block;
	text-decoration: none;
	color: black;
	border: 1px solid white;
	border-radius: 30px;
	padding: 15px 40px;
	font-size: 25px;
	background-color: white;
	position: relative;
	cursor: pointer;
	transition: 0.2s;
}

/* about */
.about-text {
	word-spacing: 2px;
	letter-spacing: 1.5px;
}

#time-line.dark {
	background-color: rgba(0, 0, 0, 0.78);
}

.container-fluid {
	text-align: justify;
	padding: 7rem 8rem;
}

#circle-1,
#circle-4,
#circle-6 {
	min-width: 600px;
	height: 600px;
	mix-blend-mode: multiply;
	filter: blur(30px);
	border-color: white;
}

#circle-1 {
	background-color: rgb(0, 225, 225, 0.8);
	left: 0rem;
	top: 115rem;
}
#circle-4 {
	background-color: rgb(241, 239, 90, 0.8);
	left: 15rem;
	top: 93rem;
}

#circle-6 {
	min-width: 700px;
	height: 700px;
	background-color: rgb(17, 255, 176, 0.8);
	right: -1rem;
	top: 108rem;
}

.scale-up-center {
	animation: scale-up-center 7s cubic-bezier(0.39, 0.575, 0.565, 1) infinite
		both;
}

@keyframes scale-up-center {
	0% {
		transform: translate(0px, 0px) scale(1);
	}
	20% {
		transform: translate(40px, -50px) scale(1.1);
	}
	50% {
		transform: translate(-30px, 20px) scale(0.9);
	}
	80% {
		transform: translate(45px, -45px) scale(1.4);
	}
	100% {
		transform: translate(0px, 0px) scale(1);
	}
}

.delay-2 {
	animation-delay: 2s;
}

.delay-4 {
	animation-delay: 4s;
}

/* timeline */

.timeline {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
}

.timeline::after {
	content: "";
	position: absolute;
	width: 6px;
	background-color: rgb(0, 0, 0);
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -3px;
}

.container {
	padding: 10px 40px;
	position: relative;
	background-color: inherit;
	width: 40%;
}

.container::after {
	content: "";
	position: absolute;
	width: 25px;
	height: 25px;
	right: -17px;
	background-color: rgb(0, 0, 0);
	border: 4px solid #a395c5;
	top: 15px;
	border-radius: 100%;
	z-index: 1;
}

.left {
	left: -20%;
}

.right {
	right: -20%;
}

.left::before {
	content: " ";
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	right: 30px;
	border: medium solid rgb(0, 0, 0);
	border-width: 10px 0 10px 10px;
	border-color: transparent transparent transparent rgb(0, 0, 0);
}

.right::before {
	content: " ";
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	left: 30px;
	border: medium solid rgb(0, 0, 0);
	border-width: 10px 10px 10px 0;
	border-color: transparent rgb(0, 0, 0) transparent transparent;
}

.right::after {
	left: -16px;
}

.content {
	padding: 20px 30px;
	background-color: rgb(0, 0, 0, 0.9);
	position: relative;
	border-radius: 6px;
}

@media screen and (max-width: 600px) {
	.timeline::after {
		left: 31px;
	}

	.container {
		width: 100%;
		padding-left: 3rem;
		padding-right: 3rem;
	}

	.container::before {
		left: 60px;
		border: medium solid white;
		border-width: 10px 10px 10px 0;
		border-color: transparent white transparent transparent;
	}

	.left::after,
	.right::after {
		left: 15px;
	}

	.right {
		left: 0%;
	}

	.left {
		left: 0%;
	}
}

/* footer */
.logo-image {
	max-height: 5.5rem;
	width: auto;
	margin: 0.7rem;
}

.footer-txt {
	text-align: center;
}

.footer-icon {
	height: 2rem;
	width: 2rem;
	fill: rgb(255, 255, 255);
	margin: 0.5rem;
}

.footer-icon:hover {
	fill: #39ff96;
	padding: 0.3rem;
}

/* Events */
.header-events {
	height: 100vh;
	width: 100%;

	background-position: center;
	background-size: cover;
	position: relative;
}
.time-line-events {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
}
.time-line-events::after {
	content: "";
	position: absolute;
	width: 6px;
	/* background-color: rgb(154, 146, 146); */
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -3px;
}

.register-1 {
	display: inline-block;
	text-decoration: none;
	color: white;
	border: 1px solid white;
	border-radius: 10px;
	padding: 9px 30px;
	font-size: 15px;
	background: transparent;
	position: relative;
	cursor: pointer;
}

.register-1:hover {
	display: inline-block;
	text-decoration: none;
	color: black;
	border: 1px solid white;
	border-radius: 30px;
	padding: 15px 40px;
	font-size: 25px;
	background-color: white;
	position: relative;
	cursor: pointer;
	transition: 0.2s;
}
.content-1 {
	padding: 20px 30px;
	background-color: rgba(37, 35, 35, 0.7);
	position: relative;
	border-radius: 6px;
}

.text-box-1 {
	margin-top: 50px;
	width: 100%;
	color: white;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.modal-window {
	position: fixed;
	background-color: rgba(255, 255, 255, 0.25);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 999;
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s;
}
.modal-window:target {
	visibility: visible;
	opacity: 1;
	pointer-events: auto;
}
.modal-window > div {
	width: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 2em;
	background: white;
}
.modal-window header {
	font-weight: bold;
}
.modal-window h1 {
	font-size: 150%;
	margin: 0 0 15px;
	color: black;
}

.modal-close {
	color: #aaa;
	line-height: 50px;
	font-size: 80%;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 70px;
	text-decoration: none;
}
.modal-close:hover {
	color: black;
}

.modal-window > div {
	border-radius: 1rem;
}

.modal-window div:not(:last-of-type) {
	margin-bottom: 15px;
}

.btn {
	background-color: white;
	padding: 1em 1.5em;
	border-radius: 0.5rem;
	text-decoration: none;
}
.btn:hover {
	background-color: white;
	padding: 1em 1.5em;
	border-radius: 0.5rem;
	text-decoration: none;
}
body {
	background: rgb(0, 51, 28);
	background: -moz-radial-gradient(
		circle,
		rgba(0, 51, 28, 1) 0%,
		rgba(0, 64, 65, 1) 0%,
		rgba(0, 48, 34, 1) 54%,
		rgba(0, 22, 28, 1) 100%
	);
	background: -webkit-radial-gradient(
		circle,
		rgba(0, 51, 28, 1) 0%,
		rgba(0, 64, 65, 1) 0%,
		rgba(0, 48, 34, 1) 54%,
		rgba(0, 22, 28, 1) 100%
	);
	background: radial-gradient(
		circle,
		rgba(0, 51, 28, 1) 0%,
		rgba(0, 64, 65, 1) 0%,
		rgba(0, 48, 34, 1) 54%,
		rgba(0, 22, 28, 1) 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00331c",endColorstr="#00161c",GradientType=1);
}
